<?xml version="1.0"?>
<launch>

<arg name="model" default="$(find mybot_description)/urdf/mybot2.xacro"/>
<param name="robot_description" textfile="$(arg model)" />

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

<!-- Combine joint values -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
